<h2><%= link_to(@chapter.story.title, story_path(@chapter.story.code)) %></h2>
<h3><%= @chapter.number %>: <%= @chapter.title %></h3>
<p><%= @chapter.body %></p>

<% if @user_signed_in %>
  <div>
    <%= link_to("edit", edit_story_chapter_path(@chapter.story.code, @chapter.number)) %>
    <% if @is_last_chapter %>
      | <%= link_to("delete", story_chapter_path(@chapter.story.code, @chapter.number), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      }) %>
    <%end %>
  </div>
<% end %>
<br>
<div>
  <% if @chapter.prev %>
    <%= link_to "prev", story_chapter_path(@chapter.prev.story.code, @chapter.prev.number) %>
  <% else %>
    prev
  <% end %>
  |
  <% if @chapter.next %>
    <%= link_to "next", story_chapter_path(@chapter.next.story.code, @chapter.next.number) %>
  <% else %>
    next
  <% end %>
</div>
