<%= link_to "all stories", root_path %>
<br>
<%= link_to "all chapters", story_path(@chapter.story.code) %>

<h1><%= @chapter.story.title %></h1>
<h2><%= @chapter.number %>: <%= @chapter.title %></h2>
<p><%= @chapter.body %></p>

<div>
  <%= link_to("edit", edit_story_chapter_path(@chapter.story.code, @chapter.number)) %>
  <% if @is_last_chapter %>
    | <%= link_to("delete", story_chapter_path(@chapter.story.code, @chapter.number), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    }) %>
  <%end %>
</div>
<br>
<div>
  <% if @chapter.prev %>
    <%= link_to "prev", story_chapter_path(@chapter.prev.story.code, @chapter.prev.number) %>
  <% else %>
    prev
  <% end %>
  |
  <% if @chapter.next %>
    <%= link_to "next", story_chapter_path(@chapter.next.story.code, @chapter.next.number) %>
  <% else %>
    next
  <% end %>
</div>