<h2><%= @chapter.story.title %></h2>
<h3><%= @chapter.number %>: <%= @chapter.title %></h3>
<p><%= @chapter.body %></p>
<br>
<br>
<h4>Chat</h4>
<% if @user %>
  <p>Ask questions and find out more about the world!</p>
  <div data-react-component="ChatWindow" data-props="<%= {'user': @user, 'chapter_id': @chapter.id, 'chat_history': @chat_history}.to_json %>"></div>
<% else %>
  <p>Login to explore the world of the story!</p>
<% end %>
<br>
<div>
  <% if @prev %>
    <%= link_to "prev", story_chapter_path(@prev.story.code, @prev.number) %>
  <% else %>
    prev
  <% end %>
  |
  <% if @next %>
    <%= link_to "next", story_chapter_path(@next.story.code, @next.number) %>
  <% else %>
    next
  <% end %>
</div>
