<%= link_to "all stories", stories_path %>
<br>
<%= link_to "all chapters", story_path(@chapter.story) %>

<h1><%= @chapter.story.title %></h1>
<h2><%= @chapter.number %>: <%= @chapter.title %></h2>
<p><%= @chapter.body %></p>

<p>
  <% if @chapter.prev %>
    <%= link_to "prev", story_chapter_path(@chapter.prev.story, @chapter.prev.number) %>
  <% else %>
    prev
  <% end %>
  |
  <% if @chapter.next %>
    <%= link_to "next", story_chapter_path(@chapter.next.story, @chapter.next.number) %>
  <% else %>
    next
  <% end %>
</p>