<!DOCTYPE html>
<html>
  <head>
    <title>fiction.party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mt-6 {
            margin-top: 4rem;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <%= link_to("fiction.party", root_path, class: "navbar-brand") %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><%= link_to("read", root_path, class: "nav-link") %></li>
                <li class="nav-item"><%= link_to("write", "#", class: "nav-link") %></li>
              </ul>
              <ul class="navbar-nav">
                <% if @user_signed_in %>
                  <li class="nav-item"><%= link_to "edit profile (#{@user.username})", edit_user_registration_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "sign out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %></li>
                <% else %>
                  <li class="nav-item"><%= link_to("login", new_user_session_path, class: "nav-link") %></li>
                  <li class="nav-item"><%= link_to("sign up", new_user_registration_path, class: "nav-link") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <main class="flex-shrink-0 mt-6">
      <% if notice %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
